{{#extends "base"}}
{{#block "content"}}
<h1>Open Purchase Orders</h1>

<table class="table">
    <tr>
        <th>PO Number</th>
        <th>Supplier</th>
        <th>Product</th>
        <th>Quantity Ordered</th>
        <th>Unit Price</th>
        <th>Due Date</th>
        <th>Quantity Received</th>
    </tr>
    {{#each po}}
    <tr>
        <td>{{po_number_view}}</td>
        <td>{{supplier_name}}</td>
        <td>{{product_view}}</td>
        <td>{{quantity_ordered}}</td>
        <td>{{unit_price}}</td>
        <td>{{due_date_view}}</td>
        <td>{{quantity_received}}</td>
        <!--5.6 Add a link to update PO-->
        <td><a href="/po_app/{{po_id}}/update" class="btn btn-primary btn-sm">Receive PO</a></td>
<!--Delete PO-->
        <td><a href="/po_app/{{po_id}}/delete" class="btn btn-danger btn-sm">Delete PO</a></td>

    </tr>
    {{/each}}
</table>

{{/block}}
{{/extends}}